<md-card>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex>Users</h2>
            <md-menu>
                <md-button ng-click="vm.openMenu($mdMenu, $event)" class="md-icon-button">
                    <md-tooltip>
                        <span>User Options</span>
                    </md-tooltip>
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-disabled="!vm.selectedRow" ng-click="vm.editUser();">
                            <md-icon md-font-set="material-icons" md-menu-align-target>edit</md-icon>
                            <span>Edit User</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-card-content>
        <div ui-grid="vm.usersGrid" ui-grid-selection="true" class="grid"></div>
    </md-card-content>

</md-card>
